<?xml version="1.0"?>
<launch>  <arg name="world_pkg" default="uuv_gazebo_worlds" />
  <arg name="world_pkg_file" default="symphonie_lake_husky.launch" />
  <arg name="world_file" default="0" />
  <arg name="use_pkg_path" default="1" />
  <arg name="headless" default="true"/>
  <arg name="gui" default="false"/>
 
  <arg name="laser_enabled" default="true"/>
  <arg name="realsense_enabled" default="false"/>
  <arg name="namespace" default="" />  <!-- Launch a world file using an absolute file path -->
  <group unless="$(arg use_pkg_path)">
    <include file="$(arg world_file)">
        <arg name="$(arg headless)"/>
    </include>
  </group>  <!-- Launch a world file from the launch folder of a package -->
  <group if="$(arg use_pkg_path)">
    <include file="$(eval find(arg('world_pkg')) + '/launch/' + arg('world_pkg_file'))">
        <arg name="headless" value="$(arg headless)"/>
        <arg name="gui" value="$(arg gui)"/>
    </include>
  </group>
</launch>
