<?xml version="1.0"?>
<launch>
  <!--Namespace-->
  <arg name="namespace" default="" />
  <!--Server-->
  <arg name="server_port" default="8080" />
  <!--Task parameters-->
  <arg name="max_dist" default="9.0" />
  <arg name="min_dist" default="5.0" />
  <arg name="boey_dist" default="2.5" />
  <arg name="usv_view" default="110" />
  <arg name="boey_cone" default="110" />
  <arg name="dist_to_boey" default="2" />
  <!--Reward-->
  <arg name="dy_coef"      default="5.0" />
  <arg name="dx_coef"      default="1.0" />
  <arg name="dt_coef"      default="1.0" />
  <!--Curriculum-->
  <arg name="curriculum" default="power" />
  <arg name="alpha" default="1.0" />
  <arg name="warmup" default="0.25e6" />
  <arg name="step_target" default="1.0e6" />

  <!-- Start simulating a Heron -->
  <include file="$(find rl_server)/launch/robots/spawn_husky.launch">
    <arg name="x" value="200" />
    <arg name="y" value="-60" />
    <arg name="yaw" value="-0.5" />
    <arg name="namespace" value="$(arg namespace)" />
  </include>

  <include file="$(find boey_description)/launch/boey_sim.launch">
    <arg name="namespace" value="$(arg namespace)"/>
  </include>


  <include file="$(find reward_generator)/launch/shore_docker_v2.launch">
    <arg name="namespace"    value="$(arg namespace)" />
    <arg name="dist_to_boey" value="$(arg dist_to_boey)" />
    <arg name="dx_coef"      value="$(arg dx_coef)" />
    <arg name="dy_coef"      value="$(arg dy_coef)" />
    <arg name="dt_coef"      value="$(arg dt_coef)" />
  </include>

  <include file="$(find cmd_smoother)/launch/twist_smooth.launch">
    <arg name="namespace" value="$(arg namespace)" />
  </include>

  <include file="$(find rl_server)/launch/server/husky_docking_server.launch">
    <arg name="namespace"   value="$(arg namespace)" />
    <arg name="server_port" value="$(arg server_port)" />
    <arg name="curriculum"  value="$(arg curriculum)" />
    <arg name="max_dist"    value="$(arg max_dist)" />
    <arg name="min_dist"    value="$(arg min_dist)" />
    <arg name="boey_dist"   value="$(arg boey_dist)" />
    <arg name="usv_view"    value="$(arg usv_view)" />
    <arg name="boey_cone"   value="$(arg boey_cone)" />
    <arg name="alpha"       value="$(arg alpha)" />
    <arg name="warmup"      value="$(arg warmup)" />
    <arg name="step_target" value="$(arg step_target)" />
  </include>

  <include file="$(find velocity_proj)/launch/velproj.launch">
    <arg name="namespace" value="$(arg namespace)" />
  </include>
</launch>
